<app-header></app-header>
<main>
  <div class="container">
    <img
      class="banner"
      src="../../../assets/images/banners/module-main-banner.png"
      alt="banner courseware" />

    <div class="card-container">
      <div class="card-top">
        <div class="filter">
          <p>
            Semana: {{ formatDate(startDate) }} até {{ formatDate(endDate) }}
          </p>
          <button class="previous" (click)="previousWeeks()">
            <img src="../../../assets/images/arrow-left.svg" alt="arrow left" />
          </button>
          <button class="next" (click)="nextWeeks()">
            <img
              src="../../../assets/images/arrow-right.svg"
              alt="arrow right" />
          </button>
        </div>
        <a [routerLink]="['/dashboard/designs']" class="button">
          <button class="link-button">Ver todo conteúdo</button>
        </a>
      </div>

      <app-card-rendering [filter]="filterOptions"></app-card-rendering>
    </div>
  </div>
</main>
