@import "../../../assets/scss/colors.scss";

main {
  width: 100vw;
  min-height: 92vh;
  display: flex;
  justify-content: center;
  padding: 40px 65px;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .card-container {
      width: 100%;
      padding: 60px 80px;
      background-color: $white-900;
    }
  }
}
