<main>
  <div class="login-container">
    <img src="../../../assets/images/trakto.svg" alt="Logo" class="logo" />
    <h2 class="title">Olá, faça login em sua conta.</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div *ngIf="loginFailed" class="login-error error-message">
        E-mail ou senha incorretos!
      </div>

      <div class="form-group">
        <label for="email">E-mail:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Digite seu email"
          required
          autofocus
          formControlName="email" />
        <div
          *ngIf="
            loginForm.get('email')?.invalid &&
            (loginForm.get('email')?.dirty || loginForm.get('email.touched'))
          "
          class="error-message">
          E-mail inválido
        </div>
      </div>

      <div class="form-group">
        <label for="password">Senha:</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Digite sua senha"
          required
          formControlName="password"
          minlength="8" />
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            (loginForm.get('password')?.dirty ||
              loginForm.get('password')?.touched)
          "
          class="error-message">
          Senha inválida
        </div>
      </div>

      <button
        type="submit"
        [disabled]="loginForm.invalid || !loginForm.touched || loading"
        class="btn btn-primary"
        [ngClass]="{ loading: loading }">
        <span *ngIf="!loading">Entrar</span>
        <span *ngIf="loading" class="loading">
          <div class="spinner"></div>
          Entrando...
        </span>
      </button>
    </form>
  </div>
</main>
