<app-header [dark]="true"></app-header>
<main>
  <ul class="modules-items">
    <li class="modules-item blue">
      <h2>Material Didático</h2>
      <span></span>
      <a routerLink="courseware">
        <div class="wrapper-outside">
          <div class="wrapper-inside">
            <img
              src="../../../assets/images/modules/study-book.png"
              alt="study book" />
          </div>
        </div>
      </a>
    </li>

    <li class="modules-item green">
      <h2>Quiz</h2>
      <span></span>
      <a routerLink="quiz">
        <div class="wrapper-outside">
          <div class="wrapper-inside">
            <img
              src="../../../assets/images/modules/medal.png"
              alt="study book" />
          </div>
        </div>
      </a>
    </li>

    <li class="modules-item pink">
      <h2>Desenho</h2>
      <span></span>
      <a routerLink="blackboard">
        <div class="wrapper-outside">
          <div class="wrapper-inside">
            <img
              src="../../../assets/images/modules/paint.png"
              alt="study book" />
          </div>
        </div>
      </a>
    </li>

    <li class="modules-item red">
      <h2>Youtube</h2>
      <span></span>
      <a routerLink="media">
        <div class="wrapper-outside">
          <div class="wrapper-inside">
            <img
              src="../../../assets/images/modules/youtube.png"
              alt="study book" />
          </div>
        </div>
      </a>
    </li>
  </ul>
</main>
